'''
 * @file    treadmill_service.py
 * @author  William Wang
 * @brief   This script will be used with a service running in the background that allows for us to run 
'''